{% extends "layout_content.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/def.png') }}">
    <div class="media-body">
      <h2><a class="article-title" href="{{ url_for('student', student_id=student.id) }}">{{ student.name }}</a></h2>

      <h5>Student's Performance:</h5>
      <div id="graph-container">
        <canvas id="performanceGraph"></canvas>
      </div>


      <h5>Student's Information:</h5>

      <hr class="mb-0">
      <p class="mb-0"><strong>Name:</strong> {{ student.name }}</p>
      <p class="mb-0"><strong>Email:</strong> {{ student.email }}</p>
      <p class="mb-0"><strong>Address:</strong><pre>{{ student.address }}</pre>
      <p class="mb-0"><strong>Parent's Phone Number:</strong> {{ student.parent_phone }}</p>
      <p class="mb-0"><strong>Predicted Grade:</strong> {{ student.predicted_grade }}</p>
      <hr>

      <h5>Student's Classes:</h5>
      {% for class in student.classes %}
        <div>
          <small>{{ class.class_name }}</small>
          <small class="text-muted">(Beginning: {{ class.class_starting_date.strftime('%d %b %Y') }})</small>
        </div>
      {% endfor %}
      <div class="mt-3 mb-0">
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('student_report', student_id=student.id) }}">Get Report</a>
        <a class="btn btn-secondary btn-sm mt-1 mb-1 ml-1" href="{{ url_for('update_student', student_id=student.id) }}">Update Details</a>
        <a class="btn btn-secondary btn-sm mt-1 mb-1 ml-1" href="{{ url_for('add_to_class', student_id=student.id) }}">Add To Class</a>
        <a class="btn btn-secondary btn-sm mt-1 mb-1 ml-1" href="{{ url_for('remove_from_class', student_id=student.id) }}">Remove From Class</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
      </div>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Student?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_student', student_id=student.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Linking all the scripts! -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard_charts.js') }}"></script>
  <script type="text/javascript">

    // Setting graph to load onload.
    $(document).ready(function() {
      changeChart("performanceGraph", "line",
                 {{ class_perf.labels | safe }},
                 {{ class_perf.datasets | safe }});
    });
  </script>
{% endblock content %}
